<footer class="site-footer">

  <div class="wrapper">
    <div class="site-navigation">
      <p><a href="mailto:guwenhan@zju.edu.cn"><i class="fa fa-envelope"></i> E-mail</a></p>
    </div>

    <div class="site-contact">
      <p><a href="https://www.github.com/ligungun"><i class="fa fa-github"></i> GitHub</a></p>
    </div>

    <div class="site-signature">
      <p><a href="https://www.linkedin.com"><i class="fa fa-linkedin-square"></i> LinkedIn</a></p>
    </div>

  </div>

</footer>

<!-- Scripts -->
{% endif %}
